<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookstore</title>
</head>
<body>
<h1>Books</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Actions</th> <!-- Dodano kolumnę Akcje -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}">Title</td>
        <td th:text="${book.author}">Author</td>
        <td th:text="${book.price}">Price</td>
        <td th:text="${book.quantity}">Quantity</td>
        <td>
            <a th:href="@{/book/update/{id}(id=${book.id})}">Edytuj</a> <!-- Link do edytowania książki -->
            <a th:href="@{/book/delete/{id}(id=${book.id})}">Usuń</a> <!-- Link do usuwania książki -->
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
